.returnbook {
  position: absolute;
  width: 336px;
  height: 58px;
  margin-top: 202px;
  margin-left: 258px;
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 60.51px;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.returndedails {
  /* position: absolute;
  width: 157px;
  height: 43px;
  margin-top: 248px;
  margin-left: 671px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  background-color: yellow; */
  position: absolute;
  width: 157px;
  height: 43px;
  margin-top: 248px;
  margin-left: 671px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.returninfo {
  /* position: absolute;
  width: 357px;
  height: 43px;
  margin-top: 248px;
  margin-left: 831px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  background-color: yellow; */
  position: absolute;
  width: 357px;
  height: 43px;
  margin-top: 248px;
  margin-left: 831px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.returnbut {
  position: absolute;
  width: 137px;
  height: 54px;
  margin-top: 325px;
  margin-left: 799px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: center;
  color: rgba(43, 39, 238, 1);
  background: rgba(217, 217, 217, 1);
}

.bookperchased {
  position: absolute;
  width: 557px;
  height: 43px;
  margin-top: 348px;
  margin-left: 550px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 700;
  line-height: 34.2px;
  text-align: center;
  color: red;
}

.orderdetails {
  position: absolute;
  width: 157px;
  height: 43px;
  margin-top: 248px;
  margin-left: 671px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.orderinfo {
  position: absolute;
  width: 357px;
  height: 43px;
  margin-top: 248px;
  margin-left: 831px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
