.bsearchtext {
  position: absolute;
  width: 336px;
  height: 58px;
  margin-top: 116px;
  margin-left: 720px;
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 60.51px;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.bookname {
  position: absolute;
  width: 221px;
  height: 53px;
  margin-top: 220px;
  margin-left: 654px;
  width: 182px;
  height: 56px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.titleinput {
  position: absolute;
  width: 279px;
  height: 32px;
  margin-top: 225px;
  margin-left: 862px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  background: rgba(217, 217, 217, 1);
}

.updatebutton {
  position: absolute;
  width: 184px;
  height: 39px;
  margin-top: 225px;
  margin-left: 1180px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: center;
  background: rgba(217, 217, 217, 1);
}

.sugname {
  position: absolute;
  width: 221px;
  height: 53px;
  margin-top: 276px;
  margin-left: 654px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.suginput {
  position: absolute;
  width: 279px;
  height: 32px;
  margin-top: 281px;
  margin-left: 862px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  background: rgba(217, 217, 217, 1);
}

.sugauthor {
  position: absolute;
  width: 221px;
  height: 53px;
  margin-top: 332px;
  margin-left: 654px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
  color: rgba(245, 245, 245, 1);
}

.sugauthorinput {
  position: absolute;
  width: 279px;
  height: 32px;
  margin-top: 337px;
  margin-left: 862px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  background: rgba(217, 217, 217, 1);
}

.sugsearch {
  position: absolute;
  width: 184px;
  height: 39px;
  margin-top: 410px;
  margin-left: 781px;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(217, 217, 217, 1);
}

.table {
  position: absolute;
  width: 1068px;
  height: auto;
  top: 123px;
  margin-left: 186px;
  border-collapse: collapse;
}

.table th {
  padding: 8px;
  text-align: left;
  border: 2px solid black;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 20px;
  font-weight: 650;
  line-height: 36.31px;
  text-align: left;
}
.table td {
  padding: 8px;
  text-align: left;
  border: 2px solid black;
  background-color: #f2f2f2;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 36.31px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.aftertable {
  position: absolute;
  width: 608px;
  height: 98px;
  margin-top: 412px;
  margin-left: 151px;
  border-collapse: collapse;
}

.aftertable th {
  padding: 8px;
  text-align: left;
  border: 2px solid black;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 20px;
  font-weight: 650;
  line-height: 36.31px;
  text-align: left;
}
.aftertable td {
  padding: 8px;
  text-align: left;
  border: 2px solid black;
  background-color: #f2f2f2;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 36.31px;
  text-align: left;
}

.aftertable th {
  background-color: #f2f2f2;
}
